@import "color";
@import "bootstrap/mixins/breakpoints";

body {
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333333;
  background: #ffffff;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  position: relative;
}

a {
  color: #515157;
  &:hover {
    color: #16a085;
    text-decoration: none;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

ul {
  list-style: none;
}

.wrapper {
  .container .editContent {
    padding-bottom: 20px;
  }
  .container-fluid .editContent {
    padding-bottom: 20px;
    h1 {
      margin-top: 0px;
      padding-top: 50px;
      font-weight: 400;
    }
    h4 {
      //padding: 40px 80px;
      //line-height: 40px;
      font-weight: 400;
    }
    h5 {
      line-height: 18px;
    }
    hr {
      width: 10%;
      border-width: 2px;
      border-color: #16a085;
    }
  }
}

//nav.html

.navbar {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, .9);
  li > a {
    line-height: 50px;
    padding: 0 10px;
  }
  button {
    float: right;
    margin-top: 5px;
  }
}

//index.html

#index {
  header {
    padding-top: 200px;
    padding-bottom: 30px;
  }
  .slog {
    //background: rgba(0, 0, 0, 0.5);
    h1 {
      text-shadow: rgb(0, 0, 0) 0 0 60px;
      color: #fff;
      font-size: 48px;
    }
    h3 {
      text-shadow: rgb(0, 0, 0) 0 0 60px;
      color: #fff;
      font-size: 36px;
    }
  }
  .intro {
    position: relative;
    .row {
      &:before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        pointer-events: none;
        background: -webkit-linear-gradient(-30deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(-60deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(120deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
      }
    }

    img {
      padding: 30px 30px;
    }
  }

  $facebook: #3b5998;
  $twitter: #00a0d1;
  .team {
    .editContent .card {
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 7px 17px 0 rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 20px 0px;
      background: #fff;
      .social {
        a {
          font-family: "icomoon";
          font-size: 1.2em;
          width: 40px;
          height: 40px;
          line-height: 40px;
          color: white;
          border-radius: 50%;
          text-align: center;
          margin-right: 30px;
          font-smoothing: antialiased;
        }
        .fb {
          position: relative;
          display: inline-block;
          background: #46629E;
          &:before, &:after {
            border-color: #46629E;
          }
        }
        .tw {
          position: relative;
          display: inline-block;
          background: #00ACEE;
          &:before, &:after {
            border-color: #00ACEE;
          }
        }
        .gp {
          background: #DD4B39;
          &:before, &:after {
            border-color: #DD4B39;
          }
        }
        a {
          &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            background: transparent;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 50%;
            transition: .3s all;
            border: 3px solid;
          }
          &:hover {
            &:after {
              -webkit-transform: scale(1.5);
            }
            &:before {
              -webkit-transform: scale(2);
              transition: .3s all;
              opacity: 0;
            }
          }
        }
      }
    }
    h1 {
      margin: 0 auto;
      padding-top: 30px;
    }
    p {
      line-height: 30px;
    }
    img {
      max-height: 80px;
      max-height: 80px;
      margin: 0 auto;
      display: block;
    }
  }

  .contact .editContent {
    padding-top: 50px;
  }

}

#title {
  position: absolute;
  font-family: Roboto, sans-serif;
  color: #ecf0f1;
  width: 100%;
  text-align: center;
  top: 10%;
  font-size: 16pt;
}

//login.html

#login {
  .editContent a img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
  .authorization_container {
    position: relative;
    height: 100%;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: 0;
    }
  }
  .vertical_center {
    margin-top: 80px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .forgot {
    float: right;
    margin: 0;
    font-size: 14px;
  }
  #login-bottom {
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin: 0 auto;
    ul {
      padding: 0;
      li {
        display: inline-block;
        padding: 10px;
      }
    }
  }
}

//modal-register

.modal-footer1 {
  border-top: 1px solid #ECF0F1;
}

//support

#support {
  position: relative;
  .wrapper-bg {
    padding-top: 120px;
    padding-bottom: 20px;
    background-color: #3d566E;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
      pointer-events: none;
      background: -webkit-linear-gradient(-30deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(-60deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(150deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    }
    h2 {
      color: #FFFFFF;
      font-weight: 300;
    }
  }
  .nav-tabs > li.active > a {
    color: #3D566E;
    &:hover, &:focus {
      color: #3D566E;
    }
    background-color: transparent;
    border-bottom: 4px solid #85d6de !important;
    &:hover, &:focus {
      background-color: transparent;
      border-bottom: 4px solid #85d6de !important;
    }
  }
  .dev-res h5:hover {
    color: #1abc9c;
    transform: translateY(-5px);
    &:after {
      transition: 2s ease;
      font: normal 16px StripeIcons;
      content: "\279D";
      padding-left: 5px;
    }
  }
  .nav-tabs.nav-append-content > li.active:first-child:before {
    display: none;
  }
}

//developers

#developers {
  position: relative;
  .doc {
    padding-bottom: 30px;
  }
  .wrapper-bg {
    padding-top: 120px;
    padding-bottom: 20px;
    background-color: #3d566E;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
      pointer-events: none;
      background: -webkit-linear-gradient(-30deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(-60deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(150deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    }
    h2 {
      color: #FFFFFF;
      font-weight: 300;
    }
  }

  .editContent {
    padding: 0px 15px;
    h3, h4 {
      padding-top: 15px;
      line-height: 40px;
    }
    hr {
      width: 10%;
      border-width: 2px;
      border-color: #16a085;
    }
  }
  .api-intro {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 7px 17px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 10px;
    background: #fff;
    min-height: 200px;
  }
  &:hover {
    transition: .2s ease-in-out;
    transform: translateY(-3px);
    //box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.1), inset 0 3px 0 0 #1abc9c;
  }
}

//apis
#apis {
  #nav-button {
    padding: 0 1.5em 5em 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.7;
    line-height: 16px;
    transition: left 0.3s ease-in-out;
    @media (max-width: 930px) {
      display: block;
    }
  }
  #nav-button.open {
    left: 230px;
  }

  .tocify-wrapper {
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    bottom: 0;
    width: 230px;
    background-color: #fff;
    font-weight: bold;
    font-size: 17px;
    border-right: 1px solid #d8e1e4;
    @media (max-width: 960px) {
      left: -230px;
    }
    .apiNav {
      background-color: transparent;
      position: fixed;
      top: 0;
    }
    .navbar li > a {
      line-height: 30px;
    }
    .navbar-brand {
      float: none;
      padding: 0;
      margin: 0;
    }
  }

  .tocify-wrapper.open {
    left: 0;
  }
  .page-wrapper {
    background-color: #ecf0f1;
    margin-left: 230px;
    position: relative;
    z-index: 0;
    @media (max-width: 960px) {
      margin-left: 0;
    }
    .page-content {
      position: relative;
      z-index: 30;
      .dark-box {
        width: 50%;
        background-color: #3f3f3f;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
      }
      @media (max-width: 768px) {
        .dark-box {
          display: none;
        }
      }
      .content {
        .row.mid {
          margin-left: 0;
          margin-right: 0;
        }
        background-color: #fff;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px solid #d0d0d0;
        h1 {
          font-size: 30px;
          padding-top: 1.2em;
          margin-bottom: 0;
        }
        h2 {
          font-size: 20px;
          margin-bottom: 0;
          padding-top: 1.2em;
          padding-bottom: 1.2em;
          font-weight: bold;
        }
        h3 {
          font-size: 16px;
          padding-top: 1.2em;
          font-weight: bold;
        }
        p {
          margin-top: 1em;
          margin-bottom: 1em;
        }
      }
      .mid .midOuter {
        background-color: #fff;
        .midInner {
          code.url {
            background-color: rgba(26, 188, 156, .3);
            border-radius: 3px;
          }
          .table {
            margin-bottom: 1.5em;
          }
        }
      }
      .rightOuter {
        background-color: #3f3f3f;
        padding-bottom: 30px;
        padding-right: 0;
        .rightInner {
          h3 {
            color: #d0d0d0;
          }
          pre {
            color: #d0d0d0;
            code {
              font-size: 15px;
            }
          }

        }
      }
    }
  }

}

pre {
  background-color: #111;
  border-radius: 5px;
  margin-right: 15px;
}

.nav-link {
  display: inline;
}

#sidebar {
  > li > a.active {
    font-weight: bold;
    color: #16a085;
    + ul.submenu {
      display: block;
      padding-left: 20px;
    }
  }
  .submenu {
    display: none;
  }
}

.open.active {
  display: block;
}

.table th, .table td {
  padding: 5px;
}

//footer

.footer .site-nav {
  ul > li, p {
    color: #bdc3c7;
    line-height: 20px;
  }
  .title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
}

/* BACKGROUND COLORS */

.bg-black {
  background-color: #111111 !important;
}

.bg-white {
  background-color: #FFFFFF !important;
}

.bg-offwhite {
  background-color: #F5F5F5 !important;
}

.bg-clouds {
  background-color: #ECF0F1 !important;
}

.bg-silver {
  background-color: #BDC3C7 !important;
}

.bg-concrete {
  background-color: #95A5A6 !important;
}

.bg-asbestos {
  background-color: #7F8C8d !important;
}

.bg-tan {
  background-color: #D1DBBD !important;
}

.bg-pewter {
  background-color: #91AA9D !important;
}

.bg-moonlight {
  background-color: #3E606F !important;
}

.bg-deepocean {
  background-color: #193441 !important;
}

.bg-turquoise {
  background-color: #1ABC9C !important;
}

.bg-aqua {
  background-color: #16A085 !important;
}

.bg-sunflower {
  background-color: #F1C40F !important;
}

.bg-orange {
  background-color: #F39C12 !important;
}

.bg-sienna {
  background-color: #BF4E19 !important;
}

.bg-milanored {
  background-color: #AC1C00 !important;
}

.bg-river {
  background-color: #3498DB !important;
}

.bg-marina {
  background-color: #2980B9 !important;
}

.bg-deco {
  background-color: #C9D787 !important;
}

.bg-crete {
  background-color: #7D8A2E !important;
}

.bg-guardsman {
  background-color: #D90000 !important;
}

.bg-pomegranate {
  background-color: #C0392B !important;
}

.bg-finn {
  background-color: #723147 !important;
}

.bg-tamarind {
  background-color: #31152B !important;
}

/* PADDING, MARGIN & ALIGNMENT */
.pad5 {
  padding-top: 5px;
}

.pad10 {
  padding-top: 10px;
}

.pad15 {
  padding-top: 15px;
}

.pad25 {
  padding-top: 25px;
}

.pad30 {
  padding-top: 30px;
}

.pad45 {
  padding-top: 45px;
}

.pad60 {
  padding-top: 60px;
}

.pad90 {
  padding-top: 90px;
}

/** TYPOGRAPHY **/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: #515157;
}

h1, h2, h3 {
  margin-bottom: 20px;
  font-weight: 300;
}

h4, h5, h6 {
  margin-bottom: 15px;
  font-weight: 400;
}

h1 {
  font-size: 34px;
  line-height: 54px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

/* TITLES */

.btn {
  color: #FFF;
  padding: 10px 20px;
  margin: 15px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.btn-sm {
  padding: 7px 13px;
  font-size: 12px;
}

.btn-lg {
  padding: 16px 26px;
  font-size: 16px;
}

.btn-xl {
  padding: 18px 30px;
  font-size: 24px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

h1 .btn, h2 .btn, h3 .btn, h4 .btn, p .btn {
  margin-left: 15px;
}

/* Button DISABLED */

.disabled a {
  cursor: not-allowed;
}

/* Button DEFAULT */

.btn {
  &.btn-default {
    background: #ecf0f1;
    box-shadow: 0 2px #bdc3c7;
    color: #999;
    &:hover {
      background: #bdc3c7;
    }
  }
  &.btn-primary {
    background: #1abc9c;
    box-shadow: 0 2px #16a085;
    &:hover {
      background: #16a085;
    }
  }
  &.btn-warning {
    background: #f1c40f;
    box-shadow: 0 2px #f39c12;
    &:hover {
      background: #f39c12;
    }
  }
  &.btn-danger {
    background: #e74c3c;
    box-shadow: 0 2px #c0392b;
    &:hover {
      background: #c0392b;
    }
  }
  &.btn-success {
    background: #2ecc71;
    box-shadow: 0 2px #27ae60;
    &:hover {
      background: #27ae60;
    }
  }
  &.btn-dark {
    background: #34495e;
    box-shadow: 0 2px #2c3e50;
    color: #ffffff;
    &:hover {
      background: #2c3e50;
    }
  }
  &.btn-info {
    background: #3498db;
    box-shadow: 0 2px #2980b9;
    &:hover {
      background: #2980b9;
    }
  }
}

.btn-outline {
  color: #FFF;
  padding: 12px 20px;
  margin: 15px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.btn-outline-sm {
  padding: 5px 13px;
  font-size: 13px;
}

.btn-outline-lg {
  padding: 14px 26px;
  font-size: 15px;
}

.btn-outline-xl {
  padding: 18px 30px;
  font-size: 24px;
}

.btn-outline.outline-light, .icon.outline-light {
  color: #ffffff;
  background: none;
  border: 2px solid #ffffff;
}

.btn-outline.outline-light:hover, .icon.outline-light:hover {
  color: #2c3e50;
  background: #ffffff;
}

.btn-outline.outline-dark, .icon.outline-dark {
  color: #2c3e50;
  background: none;
  border: 2px solid #2c3e50;
}

.btn-outline.outline-dark:hover, .icon.outline-dark:hover {
  color: #ffffff;
  background: #2c3e50;
}

button:hover {
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* TABS */
.nav-tabs {
  &.nav-append-content {
    border-bottom: none;
    margin-bottom: 0;
  }
  margin: 0 auto;
  > li {
    z-index: 2;
    float: none;
    display: inline-block;
    margin-bottom: -2px;
    position: relative;
  }
}

.nav > li > a {
  &:hover, &:focus {
    outline: 0;
  }
}

.nav-tabs > li > a {
  &:hover, &:focus {
    outline: none;
    color: #1abc9c;
  }
}

body .nav-tabs > li > a {
  padding: 13px 26px 14px !important;
  color: #3D566E;
  text-transform: uppercase;
}

.nav-tabs {
  > li > a {
    padding: 16px 25px 12px;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #737c85;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none !important;
    border-bottom: 4px solid transparent !important;
    border-width: 2px;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 21px 8px;
    color: #7f8c9a;
    border-radius: 6px 6px 0 0;
    -webkit-transition: none;
    transition: none;
  }
  .nav-link.active {
    background: transparent;
    border-bottom: 4px solid #1abc9c !important;
    color: #1abc9c;
    &:focus {
      color: #1abc9c;
    }
  }
}

//Flat UI//

@font-face {
  font-family: "Flat-UI-Icons";
  src: url("../fonts/Flat-UI-Icons.eot");
  src: url("../fonts/Flat-UI-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons.woff") format("woff"), url("../fonts/Flat-UI-Icons.ttf") format("truetype"), url("../fonts/Flat-UI-Icons.svg#Flat-UI-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'Flat-UI-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.fui-checkbox-unchecked, .fui-checkbox-checked, .fui-mail {
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.fui-mail:before {
  content: "\e01e";
}

.fui-checkbox-unchecked:before {
  content: "\e033";
}

.fui-checkbox-checked:before {
  content: "\e034";
}

.form-horizontal {
  .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6px;
  }
}

.checkbox, .radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 14px;
  line-height: 1.5;
}

.checkbox input, .radio input {
  outline: none !important;
  display: none;
}

.checkbox .icons, .radio .icons {
  color: #bdc3c7;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.checkbox .icons .first-icon, .radio .icons .first-icon, .checkbox .icons .second-icon, .radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox .icons .second-icon, .radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox:hover, .radio:hover {
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.checkbox:hover .first-icon, .radio:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox:hover .second-icon, .radio:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox.checked, .radio.checked {
  color: #1abc9c;
}

.checkbox.checked .first-icon, .radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.checked .second-icon, .radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #1abc9c;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.checkbox.disabled, .radio.disabled {
  cursor: default;
  color: #e6e8ea;
}

.checkbox.disabled .icons, .radio.disabled .icons {
  color: #e6e8ea;
}

.checkbox.disabled .first-icon, .radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}

.checkbox.disabled .second-icon, .radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.disabled.checked .icons, .radio.disabled.checked .icons {
  color: #e6e8ea;
}

.checkbox.disabled.checked .first-icon, .radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.disabled.checked .second-icon, .radio.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #e6e8ea;
}

.checkbox.primary .icons, .radio.primary .icons {
  color: #34495e;
}

.checkbox.primary.checked, .radio.primary.checked, .checkbox.primary.checked .icons, .radio.primary.checked .icons {
  color: #1abc9c;
}

.checkbox.primary.disabled, .radio.primary.disabled {
  cursor: default;
  color: #bdc3c7;
}

.checkbox.primary.disabled .icons, .radio.primary.disabled .icons, .checkbox.primary.disabled.checked .icons {
  color: #bdc3c7;
}

.radio {
  &.primary.disabled.checked .icons {
    color: #bdc3c7;
  }
  + .radio {
    margin-top: 10px;
  }
}

.checkbox + .checkbox {
  margin-top: 10px;
}

.table {
  .checkbox, .radio {
    margin: 0 0 0 -9px;
  }
  .checkbox.no-label, .radio.no-label {
    padding-left: 0;
  }
}

.chart {
  display: inline-block;
  margin-right: 0;
  transition: all .3s ease;
}
