<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include head.ejs %>
</head>

<body id="developers">
<% include nav.ejs %>

<header class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="editContent">
                    <h2>開發者專區</h2>
                </div>
                <div class="editContent">
                    <p class="lead text-inverse">此服務是一組機器可讀 (Swagger 2.0) 的 API，您可以使用這些描述來產生程式碼端，藉此整合您的應用系統</p>
                    <p class="lead text-inverse">可使用 Swagger 程式碼產生工具，從 API 描述建立程式碼端</p>
                    <p class="lead text-inverse">快速入門文件可協助您在短時間內啟動及執行這項服務</p>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                        <a href="http://swagger.io/" class="btn btn-default btn-default"><span
                                    class="fa fa-file-text"></span>Swagger測試</a>
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <a href="/apis" class="btn btn-primary"><span
                                    class="fa fa-code">開發技術文件</span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <img class="img-rounded img-responsive" src="http://placehold.it/450x300">
            </div>
        </div>
    </div>
</header>
<div class="content-block pad45">
    <div class="container">
        <div class="underlined-title">
            <div class="editContent">
                <h1>Swagger簡介</h1>
            </div>
            <hr>
            <div class="editContent">
                <h2>We have official libraries for different programming languages and mobile platforms.</h2>
                <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb
                    paleo.</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-clouds pad45">
    <div class="container">
        <div class="underlined-title">
            <div class="editContent">
                <h1>開發技術文件</h1>
            </div>
            <hr>
            <div class="editContent">
                <h2>We have official libraries for different programming languages and mobile platforms.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pad25">
                <div class="api-intro">
                    <div class="col-xs-2">
                        <span class="fa fa-2x fa-user "></span>
                    </div>
                    <div class="editContent">
                        <h5>使用者開放介面</h5>
                    </div>
                    <div class="editContent">
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon
                            slow-carb paleo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pad25">
                <div class="api-intro">
                    <div class="col-xs-2">
                        <span class="fa fa-2x fa-cloud"></span>
                    </div>
                    <div class="editContent">
                        <h5>物聯網設備開放介面</h5>
                    </div>
                    <div class="editContent">
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon
                            slow-carb paleo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pad25">
                <div class="api-intro">
                    <div class="col-xs-2">
                        <span class="fa fa-2x fa-map-marker"></span>
                    </div>
                    <div class="editContent">
                        <h5>場域開放介面</h5>
                    </div>
                    <div class="editContent">
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon
                            slow-carb paleo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pad25">
                <div class="api-intro">
                    <div class="col-xs-2">
                        <span class="fa fa-2x fa-file"></span>
                    </div>
                    <div class="editContent">
                        <h5>生產計畫開放介面</h5>
                    </div>
                    <div class="editContent">
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon
                            slow-carb paleo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pad25">
                <div class="api-intro">
                    <div class="col-xs-2">
                        <span class="fa fa-2x fa-database"></span>
                    </div>
                    <div class="editContent">
                        <h5>知識庫開放介面</h5>
                    </div>
                    <div class="editContent">
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon
                            slow-carb paleo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pad25">
                <div class="api-intro">
                    <div class="col-xs-2">
                        <span class="fa fa-2x fa-comments-o"></span>
                    </div>
                    <div class="editContent">
                        <h5>專家建議開放介面</h5>
                    </div>
                    <div class="editContent">
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon
                            slow-carb paleo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pad25">
                <div class="api-intro">
                    <div class="col-xs-2">
                        <span class="fa fa-2x fa-calendar"></span>
                    </div>
                    <div class="editContent">
                        <h5>栽培曆開放介面</h5>
                    </div>
                    <div class="editContent">
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon
                            slow-carb paleo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pad25">
                <div class="api-intro">
                    <div class="col-xs-2">
                        <span class="fa fa-2x fa-cog"></span>
                    </div>
                    <div class="editContent">
                        <h5>田間作業存取介面</h5>
                    </div>
                    <div class="editContent">
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon
                            slow-carb paleo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pad25">
                <div class="api-intro">
                    <div class="col-xs-2">
                        <span class="fa fa-2x fa-users"></span>
                    </div>
                    <div class="editContent">
                        <h5>第三方介面存取介面</h5>
                    </div>
                    <div class="editContent">
                        <p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon
                            slow-carb paleo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
<% include modal.ejs %>
<% include includejs.ejs %>
</body>
</html>
