<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include head.ejs %>
</head>

<body id="index">
<% include nav.ejs %>

<header class="wrapper main-img" data-parallax="scroll" data-image-src="images/01.jpg" data-speed=0.5>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-xs-center">
                <div class="slog">
                    <h1 class="editContent">農業生產力4.0共通平台</h1>
                    <h3 class="editContent">大數據．物聯網．OPEN API</h3>
                    <br>
                    <a href="/developers" class="btn btn-primary btn-hg btn-wide">立即前往使用</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--<section class="wrapper">-->
<!--<div class="container-fluid bg-offwhite">-->
<!--<div class="row">-->
<!--<h1 class="title text-xs-center">-->
<!--農業智慧生產與數位服務產業應用-->
<!--</h1>-->
<!--<div class="col-xs-12 editContent">-->

<!--<h4>農業生產力 4.0 共通平台匯集相關農業大數據資料，其目的是透過共通平台之 Open API 機制，讓第三方資訊開發業者授權使用，開發資訊業者僅需了解 OPEN API-->
<!--如何取用，則可以快速開發其欲開發之功能，無須花時間建立後端資料庫與相關資料之取的，以期延伸出更多的農業創新應用。-->
<!--開發者可以快速透過 API 來打造所需要的服務，替你的產品或服務創造更大的附加價值-->
<!--</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<section class="wrapper">
    <div class="container-fluid intro bg-offwhite">
        <div class="row">
            <div class="col-xs-12 col-md-6 editContent text-xs-center">
                <div>
                    <h1 class="title text-xs-center">巨量資料</h1>
                    <hr>
                    <h4 class="subtitle">藉由案例分析，進行業務流程管理</h4>
                    <h4 class="subtitle">增進資料價值、利用性和透明化</h4>
                    <h4 class="subtitle">挖掘有效訊息，預測未來趨勢</h4>
                </div>
            </div>
            <div class="hidden-sm-down col-md-6">
                <img class="img-fluid" src="images/bigdata.svg"/>
            </div>
        </div>
    </div>

    <div class="container-fluid intro bg-tan">
        <div class="row">
            <div class="hidden-sm-down col-md-6">
                <img class="img-fluid pull-right" src="images/openapi.svg"/>
            </div>
            <div class="col-xs-12 col-md-6 editContent text-xs-center">
                <div>
                    <h1 class="title text-xs-center">OPEN API</h1>
                    <hr>
                    <h4 class="subtitle">藉由案例分析，進行業務流程管理</h4>
                    <h4 class="subtitle">增進資料價值、利用性和透明化</h4>
                    <h4 class="subtitle">挖掘有效訊息，預測未來趨勢</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid intro bg-offwhite">
        <div class="row">
            <div class="col-xs-12 col-md-6 editContent text-xs-center">
                <div>
                    <h1 class="title text-xs-center">加值應用</h1>
                    <hr>
                    <h4 class="subtitle">善用無限創意，整合運用開放資料</h4>
                    <h4 class="subtitle">提升農業品質，滿足產業需求</h4>
                    <h4 class="subtitle">促成跨產業協同合作與服務創新</h4>
                </div>
            </div>
            <div class="hidden-sm-down col-md-6">
                <img class="img-fluid" src="images/valueadded2.svg"/>
            </div>
        </div>
    </div>

    <div class="container-fluid intro bg-tan">
        <div class="row">
            <div class="hidden-sm-down col-md-6">
                <img class="img-fluid pull-right" src="images/dashboard.svg"/>
            </div>
            <div class="col-xs-12 col-md-6 editContent text-xs-center">
                <div>
                    <h1 class="title text-xs-center">資料視覺化</h1>
                    <hr>
                    <h4 class="subtitle">透過OPEN API取得資料，用視覺化方式呈現資料以強化可閱讀性</h4>
                    <h4 class="subtitle">即時監控數據與相關性，做出及時決策</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid bg-aqua">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h2 class="subtitle">立即使用！</h2>
                <h5>取得APIs，發掘與創造更多應用</h5>

                <a href="#" class="btn btn-primary btn-hg btn-wide">
                    &nbsp;前往開發者專區</a>
            </div>

        </div>
    </div>
</section>

<section class="wrapper bg-offwhite">
    <div class="container team">
        <div class="row">
            <h1 class="title text-xs-center">關於我們</h1>
            <p>農業生產力 4.0 共通平台匯集相關農業大數據資料，其目的是透過共通平台之 Open API 機制，讓第三方資訊開發業者授權使用，開發資訊業者僅需了解 OPEN API
            如何取用，則可以快速開發其欲開發之功能，無須花時間建立後端資料庫與相關資料之取的，以期延伸出更多的農業創新應用。
            </p>
            <div class="col-xs-4 text-center editContent">
                <img class="img-fluid" src="images/icons/logo01.png">
                <h4 class="text-xs-center">行政院農業委員會農糧署</h4>

            </div>
            <div class="col-xs-4 text-center editContent">
                <img class="img-fluid" src="images/icons/logo02.png">
                <h4 class="text-xs-center">行政院農業委員會農業試驗所</h4>

            </div>
            <div class="col-xs-4 text-center editContent">
                <img class="img-fluid" src="images/icons/logo03.png">
                <h4 class="text-xs-center">財團法人資訊工業策進會</h4>
            </div>
        </div>
    </div>
</section>
<section class="wrapper contact bg-offwhite">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 editContent">
                <h4 class="text-xs-center">問題反饋與合作提案</h4>
                <hr>
                <p>若有任何合作提案或服務建議，請留下您的聯絡方式及相關資訊，我們會有專人與您聯繫！</p>
            </div>
            <div class="col-xs-6 editContent">
                <h4>聯絡我們</h4>
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="name" name="name"
                               placeholder="Your name *">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" id="email" name="email"
                               placeholder="Your email *">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" placeholder="Add comment..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-embossed btn-wide"><span
                                class="fui-mail"></span>
                        送出
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<% include footer.ejs %>

<% include includejs.ejs %>
<% include modal.ejs %>
<script src="/plugin/parallax/parallax.js"></script>
<script>

</script>
</body>
</html>
