<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include head.ejs %>
</head>

<body id="index">
<% include nav.ejs %>

<header class="wrapper main-img" data-parallax="scroll" data-image-src="images/GreenHouse.jpg" data-speed=0.5>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-xs-center">
                <div class="slog">
                    <h3 class="editContent pad30">農業生產力4.0共通平台</h3>
                    <h4 class="editContent">農業智慧生產與數位服務產業應用</h4>
                    <br>
                    <a href="/developers" class="btn btn-primary btn-hg btn-wide">立即前往使用</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <div class="editContent">
                    <h3>
                        農業智慧生產與數位服務產業應用
                    </h3>
                    <p>
                        Aliquam cursus odio ac est dictum porttitor. Nulla scelerisque, elit a volutpat molestie, urna
                        purus sagittis urna, sed lobortis libero urna et erat. Curabitur lobortis, libero at gravida
                        tristique
                    </p>
                </div>
                <!-- /.editContent -->
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="editContent">
                            <img class="img-resbonsive d-inline-block" alt="" src="images/icons/graph.svg">
                            <h5 class="d-inline-block">巨量資料分析</h5>
                            <p>
                                Curabitur id quam et lacus interdum iaculis vitae et nisi. Nam varius molestie lorem
                                vel feugiat. Aliquam massa nulla, tincidunt eu felis at, gravida vestibulum quam.
                                Integer non diam nibh.
                            </p>
                        </div>
                        <div class="editContent">
                            <img class="img-resbonsive" alt="" src="images/icons/file.svg">
                            <h5 class="d-inline-block">OPEN API</h5>
                            <p>
                                Morbi ultricies eros malesuada vulputate faucibus. Cras sed sem pretium, eleifend
                                ipsum at, venenatis neque. Integer vitae lectus metus. Ut tincidunt mi at laoreet
                                laoreet.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editContent">
                            <img class="img-resbonsive" alt="" src="images/icons/user-interface.svg">
                            <h5 class="d-inline-block">資料視覺化</h5>
                            <p>Curabitur id quam et lacus interdum iaculis vitae et nisi. Nam varius molestie lorem
                                vel feugiat. Aliquam massa nulla, tincidunt eu felis at, gravida vestibulum quam.
                                Integer non diam nibh.
                            </p>
                        </div>
                    </div>
                    <div class="editContent">
                        <img class="img-resbonsive" alt="" src="images/icons/magic.svg">
                        <h5 class="d-inline-block">加值應用服務</h5>
                        <p>
                            Nullam eu lectus id turpis eleifend tincidunt. Aliquam cursus odio ac est dictum
                            porttitor. Nulla scelerisque, elit a volutpat molestie, urna purus sagittis urna,
                            sed lobortis libero urna et erat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row text-xs-center">
                <p class="">
                    <a href="#" class="btn btn-info btn-embossed btn-wide"
                       style="border-radius: 4px; font-size: 15px; background-color: rgb(43, 178, 152);"> &nbsp;Try
                        Now</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper bg-clouds">
    <div class="container">
        <h3 class="text-xs-center pad45">開發團隊</h3>
        <div class="row pad25">
            <div class="col-md-4 text-center">
                <div class="editContent">
                    <h4 class="text-xs-center">行政院農業委員會農糧署</h4>
                    <p class="text-xs-center">
                        單位
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="editContent">
                    <h4 class="text-xs-center">行政院農業委員會農業試驗所</h4c>
                        <p class="text-xs-center">
                            單位
                        </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="editContent">
                    <!--<img src="images/icons/iii.svg">-->
                    <h4 class="text-xs-center">財團法人資訊工業策進會</h4>
                    <p class="text-xs-center">
                        執行單位??
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 pad60">
                <h4>問題反饋與合作提案</h4>
                <p>若有任何合作提案或服務建議，請留下您的聯絡方式及相關資訊，我們會有專人與您聯繫！</p>
            </div>
            <div class="col-xs-6 pad60">
                <h4>聯絡我們</h4>
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="name" name="name"
                               placeholder="Your name *">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" id="email" name="email"
                               placeholder="Your email *">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" placeholder="Add comment..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-embossed btn-wide"><span class="fui-mail"></span>
                        送出
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>

<% include includejs.ejs %>
<% include modal.ejs %>
<script src="/plugin/parallax/parallax.js"></script>

</body>
</html>
