<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="modal-register">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">服務條款與個資蒐集告知事項</h4>
            </div>
            <div class="modal-body">
                <p>歡迎來到OOXX網頁，請仔細閱讀「服務條款與個資收集聲明」，以下「服務條款與個資收集聲明」規範您對下列網站的使用方式。</p>
                <label class="checkbox checked" for="checkbox1">
                    <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span>
                    <input type="checkbox" checked="" value="" id="checkbox" data-toggle="checkbox">我接受此服務條款與個資蒐集告知事項
                </label>
            </div>
            <div class="modal-footer flex-items-xs-center">
                <button type="button col-xs-6" id="ok-register" class="btn btn-primary btn-hg btn-embossed">同意註冊帳號</button>
                <button type="button col-xs-6" class="btn btn-default btn-hg btn-embossed" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">隱私權聲明</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
