
<nav id="nav" class="navbar navbar-light bg-faded navbar-fixed-top">
    <a class="navbar-brand" href="/">
        <img src="images/icons/shield.svg" width="40" height="40" class="d-inline-block" alt="">
        AGRO
    </a>
    <button class="navbar-toggler hidden-md-up float-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

    <div class="navbar-toggleable-xs">
        <ul class="nav navbar-nav float-xs-right hidden-sm-down">
            <li class="active nav-item"><a href="/">首頁</a></li>
            <li class="nav-item"><a href="/developers">開發者專區</a></li>
            <li class="nav-item"><a href="/support">技術支援</a></li>
            <li class="nav-item"><a href="javascript:void(0)" data-href="/register" data-toggle="modal" data-target="#modal-register">註冊</a></li>
            <li class="nav-item"><a href="/login">登入<span class="fa fa-lock"></span></a></li>
            <li class="nav-item"><a href="javascript:void(0)">english<span class="fa fa-globe"></span></a></li>
        </ul>
    </div>

    <div class="collapse navbar-toggleable-md hidden-md-up" id="navbarResponsive">
        <ul class="nav navbar-nav">
            <li class="active nav-item text-xs-center"><a href="/">首頁</a></li>
            <li class="nav-item text-xs-center"><a href="/developers">開發者專區</a></li>
            <li class="nav-item text-xs-center"><a href="/support">技術支援</a></li>
            <!-- trigger modal -->
            <li class="nav-item text-xs-center"><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-register">註冊</a></li>
            <li class="nav-item text-xs-center"><a href="/login">登入<span class="fa fa-lock"></span></a></li>
            <li class="nav-item text-xs-center"><a href="javascript:void(0)">english<span class="fa fa-globe"></span></a></li>
        </ul>
    </div>
</nav>