<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include head.ejs %>
</head>

<body id="support">
<% include nav.ejs %>

<header class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="editContent text-center">FAQ</h2>
                <p class="editContent lead text-inverse">
                    Proin ullamcorper non neque nec lacinia. Praesent sodales libero accumsan pulvinar tempus. Proin nec
                    lacus enim. Vivamus ullamcorper iaculis arcu et semper. Nulla venenatis nibh sed ligula placerat
                    bibendum. Suspendisse malesuada enim eget elit congue rutrum.
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</header>


<!-- /.wrapper -->
<div class="container pad60">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs nav-append-content" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#tab1"><h5>常見問題</h5></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#tab2"><h5>網站問題</h5></a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#tab3"><h5>API使用問題</h5></a></li>
            </ul>
            <!-- /tabs -->
            <div class="tab-content tabs">
                <div class="tab-pane active fade in" id="tab1" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/shield.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">如何加入會員？</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/brush.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">忘記密碼</h5>
                                    <p>
                                        若您忘記密碼，請點選「會員登入」後，請您先點選「忘記密碼」
                                        再輸入註冊的電子郵件，系統即會自動將密碼重設通知寄至您預設的Email信箱中，請您收取郵件並點擊內文中的連結進行密碼重設即可。
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/building.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">如何修改個人資料及密碼？</h5>
                                    <p>
                                        請點選「會員登入」，輸入您的E-mail及密碼登入會員帳戶，點選「個人資料及密碼修改」即可。
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/compas.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Integer euismod est mi</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/flask.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Curabitur suscipit massa</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/paper-bag.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Mauris accumsan dolor</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab2" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/building.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">我遇到了HTTP 403錯誤</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/compas.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Donec suscipit sit amet lorem</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/flask.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Curabitur suscipit massa</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/paper-bag.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Mauris accumsan dolor</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/shield.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Donec suscipit sit amet lorem</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/brush.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Vivamus at risus nec nisl</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab3" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/shield.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">請問平台提供哪些資料格式</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/brush.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">我遇到badtoken錯誤</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/flask.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Curabitur suscipit massa</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/paper-bag.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Mauris accumsan dolor</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/building.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Praesent vel rhoncus tellus</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="row">
                                <!--<div class="col-md-3">-->
                                    <!--<img alt="" src="images/icons/compas.svg">-->
                                <!--</div>-->
                                <!-- /.col -->
                                <div class="col-md-9 editContent">
                                    <h5 class="">Integer euismod est mi</h5>
                                    <p>
                                        Cras ullamcorper egestas dictum. Duis non orci vitae libero auctor malesuada.
                                        Etiam ac est a dolor aliquam venenatis.
                                    </p>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /tab-content -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row-->
</div>
<!-- /.container -->
<div class="item content pad45" id="content_section1">
    <div class="container">
        <div class="editContent text-center">
            <h4 class="text-xs-center">開發者資源</h4>
        </div>
        <hr>
        <div class="row dev-res">
            <div class="col-md-4 text-center">
                <div class="editContent">
                    <h5><a href="developer.html"><span class="fa fa-book"></span>&nbsp;&nbsp;開發技術文件</a></h5>
                    <!-- <a href="#" class="btn btn-default btn-embossed">Learn more</a> -->
                    <p>
                        Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et
                        fermentum nulla pharetra in.
                    </p>
                </div>
                <!-- /.editContent -->
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4 text-center">
                <div class="editContent">
                    <h5><a href="http://swagger.io/"><span class="fa fa-code">&nbsp;&nbsp;Swagger測試</a></h5>
                    <p>
                        Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et
                        fermentum nulla pharetra in.
                    </p>
                </div>
                <!-- /.editContent -->
            </div>
            <!-- /.col-md-4 col -->
            <div class="col-md-4 text-center">
                <div class="editContent">
                    <h5><a href="index.html"><span class="fa fa-question-circle">&nbsp;&nbsp;Can't find your answer?</a>
                    </h5>
                    <p>
                        Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et
                        fermentum nulla pharetra in.
                    </p>
                </div>
                <!-- /.editContent -->
            </div>
            <!-- /.col-md-4 col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.item -->
<% include footer.ejs %>
<% include modal.ejs %>
<% include includejs.ejs %>
</body>
</html>
