/* line 4, ../../sass/custom.scss */
body {
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333333;
  background: #ffffff;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 15, ../../sass/custom.scss */
html, body {
  height: 100%;
}

/* line 18, ../../sass/custom.scss */
.wrapper {
  padding-top: 120px;
  padding-bottom: 20px;
  background-color: #3d566E;
}
/* line 22, ../../sass/custom.scss */
.wrapper h2 {
  color: #FFFFFF;
  font-weight: 300;
}

/* line 29, ../../sass/custom.scss */
.navbar {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 32, ../../sass/custom.scss */
.navbar li > a {
  line-height: 50px;
  padding: 0 10px;
}
/* line 36, ../../sass/custom.scss */
.navbar button {
  float: right;
  margin-top: 5px;
}

/* line 45, ../../sass/custom.scss */
#index header {
  padding-top: 200px;
  padding-bottom: 30px;
}
/* line 49, ../../sass/custom.scss */
#index .slog {
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 30px 30px;
}
/* line 52, ../../sass/custom.scss */
#index .slog h3, #index .slog h4 {
  text-shadow: black 0 0 60px;
  color: #fff;
  font-weight: 400;
}
/* line 59, ../../sass/custom.scss */
#index .content-wrapper .editContent img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
/* line 64, ../../sass/custom.scss */
#index .content-wrapper p {
  padding: 30px;
}

/* line 73, ../../sass/custom.scss */
#login .editContent a img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}
/* line 78, ../../sass/custom.scss */
#login .authorization_container {
  position: relative;
  height: 100%;
}
/* line 81, ../../sass/custom.scss */
#login .authorization_container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
}
/* line 89, ../../sass/custom.scss */
#login .vertical_center {
  margin-top: 80px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 95, ../../sass/custom.scss */
#login .forgot {
  float: right;
  margin: 0;
  font-size: 14px;
}
/* line 100, ../../sass/custom.scss */
#login #login-bottom {
  position: absolute;
  bottom: 20px;
  text-align: center;
  margin: 0 auto;
}
/* line 105, ../../sass/custom.scss */
#login #login-bottom ul {
  padding: 0;
}
/* line 107, ../../sass/custom.scss */
#login #login-bottom ul li {
  display: inline-block;
  padding: 10px;
}

/* line 118, ../../sass/custom.scss */
.modal-footer1 {
  border-top: 1px solid #ECF0F1;
}

/* line 125, ../../sass/custom.scss */
#support .nav-tabs > li.active > a {
  color: #3D566E;
  background-color: transparent;
  border-bottom: 4px solid #85d6de !important;
}
/* line 127, ../../sass/custom.scss */
#support .nav-tabs > li.active > a:hover, #support .nav-tabs > li.active > a:focus {
  color: #3D566E;
}
/* line 132, ../../sass/custom.scss */
#support .nav-tabs > li.active > a:hover, #support .nav-tabs > li.active > a:focus {
  background-color: transparent;
  border-bottom: 4px solid #85d6de !important;
}
/* line 138, ../../sass/custom.scss */
#support .dev-res h5:hover {
  color: #1abc9c;
  transform: translateY(-5px);
}
/* line 141, ../../sass/custom.scss */
#support .dev-res h5:hover:after {
  transition: 2s ease;
  font: normal 16px StripeIcons;
  content: "\279D";
  padding-left: 5px;
}
/* line 148, ../../sass/custom.scss */
#support .nav-tabs.nav-append-content > li.active:first-child:before {
  display: none;
}

/* line 156, ../../sass/custom.scss */
#developers .wrapper {
  padding-top: 120px;
  padding-bottom: 20px;
  background-color: #3d566E;
}
/* line 160, ../../sass/custom.scss */
#developers .wrapper h2 {
  color: #FFFFFF;
  font-weight: 300;
}
/* line 165, ../../sass/custom.scss */
#developers .container {
  padding-bottom: 30px;
}
/* line 168, ../../sass/custom.scss */
#developers .api-intro {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 7px 17px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 10px;
  background: #fff;
}
/* line 173, ../../sass/custom.scss */
#developers .api-intro:hover {
  transition: .2s ease-in-out;
  transform: translateY(-3px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.1), inset 0 3px 0 0 #1abc9c;
}
/* line 179, ../../sass/custom.scss */
#developers .api-intro .editContent {
  padding: 0px 15px;
}
/* line 181, ../../sass/custom.scss */
#developers .api-intro .editContent h3, #developers .api-intro .editContent h4 {
  padding-top: 15px;
  color: #fff;
}

/* line 191, ../../sass/custom.scss */
#apis .apiNav {
  background-color: transparent;
  position: fixed;
  top: 0;
}
/* line 196, ../../sass/custom.scss */
#apis .navbar-brand {
  float: none;
  padding: 0;
  margin: 0;
}
/* line 201, ../../sass/custom.scss */
#apis .main-wrapper {
  background-color: #fafcfc;
}
/* line 203, ../../sass/custom.scss */
#apis .main-wrapper .wrapper-right .content-bg {
  position: relative;
  background: linear-gradient(90deg, #fff 50%, #111 50%);
}
/* line 204, ../../sass/custom.scss */
#apis .main-wrapper .wrapper-right .content-bg .content {
  margin-left: 0;
  margin-right: 0;
}
/* line 210, ../../sass/custom.scss */
#apis .main-wrapper .wrapper-right .content-bg .midOuter {
  background-color: #fff;
}
/* line 212, ../../sass/custom.scss */
#apis .main-wrapper .wrapper-right .content-bg .midOuter h4 {
  margin: 0;
  padding-top: 45px;
}
/* line 216, ../../sass/custom.scss */
#apis .main-wrapper .wrapper-right .content-bg .midOuter .midInner {
  padding-bottom: 45px;
}
/* line 217, ../../sass/custom.scss */
#apis .main-wrapper .wrapper-right .content-bg .midOuter .midInner .table {
  margin-bottom: 0;
}
/* line 221, ../../sass/custom.scss */
#apis .main-wrapper .wrapper-right .content-bg .midOuter .midInner h6 {
  margin: 0;
  padding-top: 45px;
}
/* line 227, ../../sass/custom.scss */
#apis .main-wrapper .wrapper-right .content-bg .rightOuter {
  background-color: #111;
}
/* line 229, ../../sass/custom.scss */
#apis .main-wrapper .wrapper-right .content-bg .rightOuter .rightInner {
  padding: 45px 0 0;
}
/* line 231, ../../sass/custom.scss */
#apis .main-wrapper .wrapper-right .content-bg .rightOuter .rightInner pre, #apis .main-wrapper .wrapper-right .content-bg .rightOuter .rightInner p {
  color: #999;
}

/* line 239, ../../sass/custom.scss */
pre {
  background-color: #111;
  border: none;
  margin-bottom: 0;
}

/* line 244, ../../sass/custom.scss */
.nav-link {
  display: inline;
}

/* line 248, ../../sass/custom.scss */
#sidebar > li > a.active {
  font-weight: bold;
  color: #16a085;
}
/* line 251, ../../sass/custom.scss */
#sidebar > li > a.active + ul.submenu {
  display: block;
  border-left: 3px solid #16a085;
}
/* line 256, ../../sass/custom.scss */
#sidebar .submenu {
  display: none;
}

/* line 260, ../../sass/custom.scss */
.open.active {
  display: block;
}

/* line 264, ../../sass/custom.scss */
.table th, .table td {
  padding: 5px;
}

/* line 270, ../../sass/custom.scss */
.site-nav ul li {
  color: #bdc3c7;
}

/* line 274, ../../sass/custom.scss */
.footerWrapper .bottom-menu .title {
  color: #bdc3c7;
  font-size: 14px;
}

/* BACKGROUND COLORS */
/* line 283, ../../sass/custom.scss */
.bg-black {
  background-color: #111111 !important;
}

/* line 287, ../../sass/custom.scss */
.bg-white {
  background-color: #FFFFFF !important;
}

/* line 291, ../../sass/custom.scss */
.bg-offwhite {
  background-color: #F5F5F5 !important;
}

/* line 295, ../../sass/custom.scss */
.bg-clouds {
  background-color: #ECF0F1 !important;
}

/* line 299, ../../sass/custom.scss */
.bg-silver {
  background-color: #BDC3C7 !important;
}

/* line 303, ../../sass/custom.scss */
.bg-concrete {
  background-color: #95A5A6 !important;
}

/* line 307, ../../sass/custom.scss */
.bg-asbestos {
  background-color: #7F8C8d !important;
}

/* line 311, ../../sass/custom.scss */
.bg-tan {
  background-color: #D1DBBD !important;
}

/* line 315, ../../sass/custom.scss */
.bg-pewter {
  background-color: #91AA9D !important;
}

/* line 319, ../../sass/custom.scss */
.bg-moonlight {
  background-color: #3E606F !important;
}

/* line 323, ../../sass/custom.scss */
.bg-deepocean {
  background-color: #193441 !important;
}

/* line 327, ../../sass/custom.scss */
.bg-turquoise {
  background-color: #1ABC9C !important;
}

/* line 331, ../../sass/custom.scss */
.bg-aqua {
  background-color: #16A085 !important;
}

/* line 335, ../../sass/custom.scss */
.bg-sunflower {
  background-color: #F1C40F !important;
}

/* line 339, ../../sass/custom.scss */
.bg-orange {
  background-color: #F39C12 !important;
}

/* line 343, ../../sass/custom.scss */
.bg-sienna {
  background-color: #BF4E19 !important;
}

/* line 347, ../../sass/custom.scss */
.bg-milanored {
  background-color: #AC1C00 !important;
}

/* line 351, ../../sass/custom.scss */
.bg-river {
  background-color: #3498DB !important;
}

/* line 355, ../../sass/custom.scss */
.bg-marina {
  background-color: #2980B9 !important;
}

/* line 359, ../../sass/custom.scss */
.bg-deco {
  background-color: #C9D787 !important;
}

/* line 363, ../../sass/custom.scss */
.bg-crete {
  background-color: #7D8A2E !important;
}

/* line 367, ../../sass/custom.scss */
.bg-guardsman {
  background-color: #D90000 !important;
}

/* line 371, ../../sass/custom.scss */
.bg-pomegranate {
  background-color: #C0392B !important;
}

/* line 375, ../../sass/custom.scss */
.bg-finn {
  background-color: #723147 !important;
}

/* line 379, ../../sass/custom.scss */
.bg-tamarind {
  background-color: #31152B !important;
}

/* PADDING, MARGIN & ALIGNMENT */
/* line 385, ../../sass/custom.scss */
.pad5 {
  padding-top: 5px;
}

/* line 389, ../../sass/custom.scss */
.pad10 {
  padding-top: 10px;
}

/* line 393, ../../sass/custom.scss */
.pad15 {
  padding-top: 15px;
}

/* line 397, ../../sass/custom.scss */
.pad25 {
  padding-top: 25px;
}

/* line 401, ../../sass/custom.scss */
.pad30 {
  padding-top: 30px;
}

/* line 405, ../../sass/custom.scss */
.pad45 {
  padding-top: 45px;
}

/* line 409, ../../sass/custom.scss */
.pad60 {
  padding-top: 60px;
}

/* line 413, ../../sass/custom.scss */
.pad90 {
  padding-top: 90px;
}

/* line 417, ../../sass/custom.scss */
.min-height-100px {
  min-height: 100px;
}

/* line 421, ../../sass/custom.scss */
.min-height-200px {
  min-height: 200px;
}

/* line 425, ../../sass/custom.scss */
.min-height-300px {
  min-height: 300px;
}

/* line 429, ../../sass/custom.scss */
.min-height-400px {
  min-height: 400px;
}

/* line 433, ../../sass/custom.scss */
.min-height-500px {
  min-height: 500px;
}

/* line 437, ../../sass/custom.scss */
.min-height-600px {
  min-height: 600px;
}

/* line 441, ../../sass/custom.scss */
.min-height-700px {
  min-height: 700px;
}

/* line 445, ../../sass/custom.scss */
.min-height-800px {
  min-height: 800px;
}

/** TYPOGRAPHY **/
/* line 451, ../../sass/custom.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: #515157;
}

/* line 457, ../../sass/custom.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  color: #e5e5e5;
}

/* line 461, ../../sass/custom.scss */
h1, h2, h3 {
  margin-bottom: 20px;
  font-weight: 300;
}

/* line 466, ../../sass/custom.scss */
h4, h5, h6 {
  margin-bottom: 15px;
  font-weight: 400;
}

/* line 471, ../../sass/custom.scss */
h1, .h1 {
  font-size: 44px;
}

/* line 475, ../../sass/custom.scss */
h2, .h2 {
  font-size: 37px;
}

/* line 479, ../../sass/custom.scss */
h3, .h3 {
  font-size: 27px;
}

/* line 483, ../../sass/custom.scss */
h4, .h4 {
  font-size: 23px;
}

/* line 487, ../../sass/custom.scss */
h5, .h5 {
  font-size: 18px;
}

/* line 491, ../../sass/custom.scss */
h6, .h6 {
  font-size: 16px;
}

/* line 495, ../../sass/custom.scss */
p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 15px 0;
  color: #515157;
}

/* line 503, ../../sass/custom.scss */
.lead {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

/* line 510, ../../sass/custom.scss */
small, .small {
  font-size: 80%;
  line-height: 2;
}

/* line 515, ../../sass/custom.scss */
em {
  color: #ff6600;
}

/* line 519, ../../sass/custom.scss */
p {
  font-size: 16px;
}

/* line 523, ../../sass/custom.scss */
h1 {
  font-size: 34px;
  line-height: 54px;
}

/* line 528, ../../sass/custom.scss */
h2 {
  font-size: 30px;
}

/* line 532, ../../sass/custom.scss */
h3 {
  font-size: 26px;
}

/* line 536, ../../sass/custom.scss */
h4 {
  font-size: 22px;
}

/* line 540, ../../sass/custom.scss */
h5 {
  font-size: 18px;
}

/* LINKS */
/* line 546, ../../sass/custom.scss */
a {
  color: #515157;
}
/* line 548, ../../sass/custom.scss */
a:hover {
  color: #16a085;
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* LISTS */
/* line 560, ../../sass/custom.scss */
ol {
  position: relative;
  padding-left: 22px;
}

/* line 565, ../../sass/custom.scss */
ul {
  list-style: none;
  position: relative;
  padding-left: 22px;
}
/* line 569, ../../sass/custom.scss */
ul li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #515157;
  margin-bottom: 5px;
}

/* line 577, ../../sass/custom.scss */
ol li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #515157;
  margin-bottom: 5px;
}

/* line 584, ../../sass/custom.scss */
ul.circle li:before {
  font-family: 'fontawesome';
  content: '\f10c';
  font-size: 12px;
  color: #16a085;
  padding-top: 2px;
  margin-left: -20px;
  position: absolute;
}

/* TITLES */
/* line 596, ../../sass/custom.scss */
.underlined-title {
  text-align: center;
  padding-bottom: 30px;
}
/* line 599, ../../sass/custom.scss */
.underlined-title h1 {
  color: #2c3e50;
  margin: 0;
}
/* line 603, ../../sass/custom.scss */
.underlined-title h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #95a5a6;
}
/* line 609, ../../sass/custom.scss */
.underlined-title hr {
  width: 10%;
  border-width: 2px;
  border-color: #16a085;
}

/* line 616, ../../sass/custom.scss */
.btn {
  color: #FFF;
  padding: 10px 20px;
  margin: 15px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/* line 632, ../../sass/custom.scss */
.btn-sm {
  padding: 7px 13px;
  font-size: 12px;
}

/* line 637, ../../sass/custom.scss */
.btn-lg {
  padding: 16px 26px;
  font-size: 16px;
}

/* line 642, ../../sass/custom.scss */
.btn-xl {
  padding: 18px 30px;
  font-size: 24px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 649, ../../sass/custom.scss */
h1 .btn, h2 .btn, h3 .btn, h4 .btn, p .btn {
  margin-left: 15px;
}

/* Button DISABLED */
/* line 655, ../../sass/custom.scss */
.disabled a {
  cursor: not-allowed;
}

/* Button DEFAULT */
/* line 662, ../../sass/custom.scss */
.btn.btn-default {
  background: #ecf0f1;
  box-shadow: 0 2px #bdc3c7;
  color: #999;
}
/* line 666, ../../sass/custom.scss */
.btn.btn-default:hover {
  background: #bdc3c7;
}
/* line 670, ../../sass/custom.scss */
.btn.btn-primary {
  background: #1abc9c;
  box-shadow: 0 2px #16a085;
}
/* line 673, ../../sass/custom.scss */
.btn.btn-primary:hover {
  background: #16a085;
}
/* line 677, ../../sass/custom.scss */
.btn.btn-warning {
  background: #f1c40f;
  box-shadow: 0 2px #f39c12;
}
/* line 680, ../../sass/custom.scss */
.btn.btn-warning:hover {
  background: #f39c12;
}
/* line 684, ../../sass/custom.scss */
.btn.btn-danger {
  background: #e74c3c;
  box-shadow: 0 2px #c0392b;
}
/* line 687, ../../sass/custom.scss */
.btn.btn-danger:hover {
  background: #c0392b;
}
/* line 691, ../../sass/custom.scss */
.btn.btn-success {
  background: #2ecc71;
  box-shadow: 0 2px #27ae60;
}
/* line 694, ../../sass/custom.scss */
.btn.btn-success:hover {
  background: #27ae60;
}
/* line 698, ../../sass/custom.scss */
.btn.btn-dark {
  background: #34495e;
  box-shadow: 0 2px #2c3e50;
  color: #ffffff;
}
/* line 702, ../../sass/custom.scss */
.btn.btn-dark:hover {
  background: #2c3e50;
}
/* line 706, ../../sass/custom.scss */
.btn.btn-info {
  background: #3498db;
  box-shadow: 0 2px #2980b9;
}
/* line 709, ../../sass/custom.scss */
.btn.btn-info:hover {
  background: #2980b9;
}

/* line 715, ../../sass/custom.scss */
.btn-outline {
  color: #FFF;
  padding: 12px 20px;
  margin: 15px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}
/* line 730, ../../sass/custom.scss */
.btn-outline:hover {
  text-decoration: none;
  color: #ffffff;
}

/* line 736, ../../sass/custom.scss */
.btn-outline-sm {
  padding: 5px 13px;
  font-size: 13px;
}

/* line 741, ../../sass/custom.scss */
.btn-outline-lg {
  padding: 14px 26px;
  font-size: 15px;
}

/* line 746, ../../sass/custom.scss */
.btn-outline-xl {
  padding: 18px 30px;
  font-size: 24px;
}

/* line 751, ../../sass/custom.scss */
.btn-outline.outline-light, .icon.outline-light {
  color: #ffffff;
  background: none;
  border: 2px solid #ffffff;
}

/* line 757, ../../sass/custom.scss */
.btn-outline.outline-light:hover, .icon.outline-light:hover {
  color: #2c3e50;
  background: #ffffff;
}

/* line 762, ../../sass/custom.scss */
.btn-outline.outline-dark, .icon.outline-dark {
  color: #2c3e50;
  background: none;
  border: 2px solid #2c3e50;
}

/* line 768, ../../sass/custom.scss */
.btn-outline.outline-dark:hover, .icon.outline-dark:hover {
  color: #ffffff;
  background: #2c3e50;
}

/* line 773, ../../sass/custom.scss */
button:hover {
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* TABS */
/* line 782, ../../sass/custom.scss */
.nav-tabs {
  margin: 0 auto;
}
/* line 783, ../../sass/custom.scss */
.nav-tabs.nav-append-content {
  border-bottom: none;
  margin-bottom: 0;
}
/* line 788, ../../sass/custom.scss */
.nav-tabs > li {
  z-index: 2;
  float: none;
  display: inline-block;
  margin-bottom: -2px;
  position: relative;
}

/* line 798, ../../sass/custom.scss */
.nav > li > a:hover, .nav > li > a:focus {
  outline: 0;
}

/* line 804, ../../sass/custom.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  outline: none;
  color: #1abc9c;
}

/* line 810, ../../sass/custom.scss */
body .nav-tabs > li > a {
  padding: 13px 26px 14px !important;
  color: #3D566E;
  text-transform: uppercase;
}

/* line 817, ../../sass/custom.scss */
.nav-tabs > li > a {
  padding: 16px 25px 12px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #737c85;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none !important;
  border-bottom: 4px solid transparent !important;
  border-width: 2px;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 21px 8px;
  color: #7f8c9a;
  border-radius: 6px 6px 0 0;
  -webkit-transition: none;
  transition: none;
}
/* line 838, ../../sass/custom.scss */
.nav-tabs .nav-link.active {
  background: transparent;
  border-bottom: 4px solid #1abc9c !important;
  color: #1abc9c;
}
/* line 842, ../../sass/custom.scss */
.nav-tabs .nav-link.active:focus {
  color: #1abc9c;
}
