/* line 4, ../../sass/custom.scss */
body {
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333333;
  background: #ffffff;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 15, ../../sass/custom.scss */
html, body {
  height: 100%;
}

/* line 19, ../../sass/custom.scss */
.wrapper {
  padding-top: 120px;
  padding-bottom: 20px;
  background-color: #3d566E;
}
/* line 23, ../../sass/custom.scss */
.wrapper h2 {
  color: #FFFFFF;
  font-weight: 300;
}

/* line 31, ../../sass/custom.scss */
.navbar {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 34, ../../sass/custom.scss */
.navbar li > a {
  line-height: 50px;
  padding: 0 10px;
}
/* line 38, ../../sass/custom.scss */
.navbar button {
  float: right;
  margin-top: 5px;
}

/* line 47, ../../sass/custom.scss */
#index header {
  padding-top: 200px;
  padding-bottom: 30px;
}
/* line 51, ../../sass/custom.scss */
#index .slog {
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 30px 30px;
}
/* line 54, ../../sass/custom.scss */
#index .slog h3, #index .slog h4 {
  text-shadow: black 0 0 60px;
  color: #fff;
  font-weight: 400;
}
/* line 61, ../../sass/custom.scss */
#index .content-wrapper .editContent img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
/* line 66, ../../sass/custom.scss */
#index .content-wrapper p {
  padding: 30px;
}

/* line 75, ../../sass/custom.scss */
#login .editContent a img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}
/* line 80, ../../sass/custom.scss */
#login .authorization_container {
  position: relative;
  height: 100%;
}
/* line 83, ../../sass/custom.scss */
#login .authorization_container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
}
/* line 91, ../../sass/custom.scss */
#login .vertical_center {
  margin-top: 80px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
/* line 97, ../../sass/custom.scss */
#login .forgot {
  float: right;
  margin: 0;
  font-size: 14px;
}
/* line 102, ../../sass/custom.scss */
#login #login-bottom {
  position: absolute;
  bottom: 20px;
  text-align: center;
  margin: 0 auto;
}
/* line 107, ../../sass/custom.scss */
#login #login-bottom ul {
  padding: 0;
}
/* line 109, ../../sass/custom.scss */
#login #login-bottom ul li {
  display: inline-block;
  padding: 10px;
}

/* line 119, ../../sass/custom.scss */
.modal-footer1 {
  border-top: 1px solid #ECF0F1;
}

/* line 126, ../../sass/custom.scss */
#support .nav-tabs > li.active > a {
  color: #3D566E;
  background-color: transparent;
  border-bottom: 4px solid #85d6de !important;
}
/* line 128, ../../sass/custom.scss */
#support .nav-tabs > li.active > a:hover, #support .nav-tabs > li.active > a:focus {
  color: #3D566E;
}
/* line 133, ../../sass/custom.scss */
#support .nav-tabs > li.active > a:hover, #support .nav-tabs > li.active > a:focus {
  background-color: transparent;
  border-bottom: 4px solid #85d6de !important;
}
/* line 139, ../../sass/custom.scss */
#support .dev-res h5:hover {
  color: #1abc9c;
  transform: translateY(-5px);
}
/* line 142, ../../sass/custom.scss */
#support .dev-res h5:hover:after {
  transition: 2s ease;
  font: normal 16px StripeIcons;
  content: "\279D";
  padding-left: 5px;
}
/* line 149, ../../sass/custom.scss */
#support .nav-tabs.nav-append-content > li.active:first-child:before {
  display: none;
}

/* line 157, ../../sass/custom.scss */
#developers .wrapper {
  padding-top: 120px;
  padding-bottom: 20px;
  background-color: #3d566E;
}
/* line 161, ../../sass/custom.scss */
#developers .wrapper h2 {
  color: #FFFFFF;
  font-weight: 300;
}
/* line 166, ../../sass/custom.scss */
#developers .container {
  padding-bottom: 30px;
}
/* line 169, ../../sass/custom.scss */
#developers .api-intro {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 7px 17px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 10px;
  background: #fff;
}
/* line 174, ../../sass/custom.scss */
#developers .api-intro:hover {
  transition: .2s ease-in-out;
  transform: translateY(-3px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.1), inset 0 3px 0 0 #1abc9c;
}
/* line 180, ../../sass/custom.scss */
#developers .api-intro .editContent {
  padding: 0px 15px;
}
/* line 182, ../../sass/custom.scss */
#developers .api-intro .editContent h3, #developers .api-intro .editContent h4 {
  padding-top: 15px;
  color: #fff;
}

/* line 192, ../../sass/custom.scss */
#apis #nav-button {
  padding: 0 1.5em 5em 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.7;
  line-height: 16px;
  transition: left 0.3s ease-in-out;
}
@media (max-width: 930px) {
  /* line 192, ../../sass/custom.scss */
  #apis #nav-button {
    display: block;
  }
}
/* line 209, ../../sass/custom.scss */
#apis #nav-button.open {
  left: 230px;
}
/* line 213, ../../sass/custom.scss */
#apis .tocify-wrapper {
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  background-color: #fff;
  font-weight: bold;
  font-size: 17px;
  border-right: 1px solid #d8e1e4;
}
@media (max-width: 960px) {
  /* line 213, ../../sass/custom.scss */
  #apis .tocify-wrapper {
    left: -230px;
  }
}
/* line 230, ../../sass/custom.scss */
#apis .tocify-wrapper .apiNav {
  background-color: transparent;
  position: fixed;
  top: 0;
}
/* line 235, ../../sass/custom.scss */
#apis .tocify-wrapper .navbar-brand {
  float: none;
  padding: 0;
  margin: 0;
}
/* line 242, ../../sass/custom.scss */
#apis .tocify-wrapper.open {
  left: 0;
}
/* line 245, ../../sass/custom.scss */
#apis .page-wrapper {
  background-color: #ecf0f1;
  margin-left: 230px;
  position: relative;
  z-index: 0;
}
@media (max-width: 960px) {
  /* line 245, ../../sass/custom.scss */
  #apis .page-wrapper {
    margin-left: 0;
  }
}
/* line 253, ../../sass/custom.scss */
#apis .page-wrapper .page-content {
  position: relative;
  z-index: 30;
}
/* line 256, ../../sass/custom.scss */
#apis .page-wrapper .page-content .dark-box {
  width: 50%;
  background-color: #3f3f3f;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
@media (max-width: 768px) {
  /* line 265, ../../sass/custom.scss */
  #apis .page-wrapper .page-content .dark-box {
    display: none;
  }
}
/* line 269, ../../sass/custom.scss */
#apis .page-wrapper .page-content .content {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #d0d0d0;
}
/* line 270, ../../sass/custom.scss */
#apis .page-wrapper .page-content .content .row.mid {
  margin-left: 0;
  margin-right: 0;
}
/* line 278, ../../sass/custom.scss */
#apis .page-wrapper .page-content .content h1 {
  font-size: 30px;
  padding-top: 1.2em;
  margin-bottom: 0;
}
/* line 283, ../../sass/custom.scss */
#apis .page-wrapper .page-content .content h2 {
  font-size: 20px;
  margin-bottom: 0;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  font-weight: bold;
}
/* line 290, ../../sass/custom.scss */
#apis .page-wrapper .page-content .content h3 {
  font-size: 16px;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  font-weight: bold;
}
/* line 296, ../../sass/custom.scss */
#apis .page-wrapper .page-content .content p {
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 1em;
}
/* line 302, ../../sass/custom.scss */
#apis .page-wrapper .page-content .mid .midOuter {
  background-color: #fff;
}
/* line 304, ../../sass/custom.scss */
#apis .page-wrapper .page-content .mid .midOuter .midInner .table {
  margin-bottom: 1.5em;
}
/* line 308, ../../sass/custom.scss */
#apis .page-wrapper .page-content .rightOuter {
  background-color: #3f3f3f;
  padding-bottom: 30px;
  padding-right: 0;
}
/* line 313, ../../sass/custom.scss */
#apis .page-wrapper .page-content .rightOuter .rightInner h3 {
  color: #d0d0d0;
}
/* line 314, ../../sass/custom.scss */
#apis .page-wrapper .page-content .rightOuter .rightInner pre {
  color: #d0d0d0;
}
/* line 316, ../../sass/custom.scss */
#apis .page-wrapper .page-content .rightOuter .rightInner pre code {
  font-size: 15px;
}

/* line 328, ../../sass/custom.scss */
pre {
  background-color: #111;
  border-radius: 5px;
  margin-right: 15px;
}

/* line 334, ../../sass/custom.scss */
.nav-link {
  display: inline;
}

/* line 339, ../../sass/custom.scss */
#sidebar > li > a.active {
  font-weight: bold;
  color: #16a085;
}
/* line 342, ../../sass/custom.scss */
#sidebar > li > a.active + ul.submenu {
  display: block;
  padding-left: 20px;
}
/* line 347, ../../sass/custom.scss */
#sidebar .submenu {
  display: none;
}

/* line 352, ../../sass/custom.scss */
.open.active {
  display: block;
}

/* line 356, ../../sass/custom.scss */
.table th, .table td {
  padding: 5px;
}

/* line 362, ../../sass/custom.scss */
.site-nav ul li {
  color: #bdc3c7;
}

/* line 366, ../../sass/custom.scss */
.footerWrapper .bottom-menu .title {
  color: #bdc3c7;
  font-size: 14px;
}

/* BACKGROUND COLORS */
/* line 373, ../../sass/custom.scss */
.bg-black {
  background-color: #111111 !important;
}

/* line 377, ../../sass/custom.scss */
.bg-white {
  background-color: #FFFFFF !important;
}

/* line 381, ../../sass/custom.scss */
.bg-offwhite {
  background-color: #F5F5F5 !important;
}

/* line 385, ../../sass/custom.scss */
.bg-clouds {
  background-color: #ECF0F1 !important;
}

/* line 389, ../../sass/custom.scss */
.bg-silver {
  background-color: #BDC3C7 !important;
}

/* line 393, ../../sass/custom.scss */
.bg-concrete {
  background-color: #95A5A6 !important;
}

/* line 397, ../../sass/custom.scss */
.bg-asbestos {
  background-color: #7F8C8d !important;
}

/* line 401, ../../sass/custom.scss */
.bg-tan {
  background-color: #D1DBBD !important;
}

/* line 405, ../../sass/custom.scss */
.bg-pewter {
  background-color: #91AA9D !important;
}

/* line 409, ../../sass/custom.scss */
.bg-moonlight {
  background-color: #3E606F !important;
}

/* line 413, ../../sass/custom.scss */
.bg-deepocean {
  background-color: #193441 !important;
}

/* line 417, ../../sass/custom.scss */
.bg-turquoise {
  background-color: #1ABC9C !important;
}

/* line 421, ../../sass/custom.scss */
.bg-aqua {
  background-color: #16A085 !important;
}

/* line 425, ../../sass/custom.scss */
.bg-sunflower {
  background-color: #F1C40F !important;
}

/* line 429, ../../sass/custom.scss */
.bg-orange {
  background-color: #F39C12 !important;
}

/* line 433, ../../sass/custom.scss */
.bg-sienna {
  background-color: #BF4E19 !important;
}

/* line 437, ../../sass/custom.scss */
.bg-milanored {
  background-color: #AC1C00 !important;
}

/* line 441, ../../sass/custom.scss */
.bg-river {
  background-color: #3498DB !important;
}

/* line 445, ../../sass/custom.scss */
.bg-marina {
  background-color: #2980B9 !important;
}

/* line 449, ../../sass/custom.scss */
.bg-deco {
  background-color: #C9D787 !important;
}

/* line 453, ../../sass/custom.scss */
.bg-crete {
  background-color: #7D8A2E !important;
}

/* line 457, ../../sass/custom.scss */
.bg-guardsman {
  background-color: #D90000 !important;
}

/* line 461, ../../sass/custom.scss */
.bg-pomegranate {
  background-color: #C0392B !important;
}

/* line 465, ../../sass/custom.scss */
.bg-finn {
  background-color: #723147 !important;
}

/* line 469, ../../sass/custom.scss */
.bg-tamarind {
  background-color: #31152B !important;
}

/* PADDING, MARGIN & ALIGNMENT */
/* line 474, ../../sass/custom.scss */
.pad5 {
  padding-top: 5px;
}

/* line 478, ../../sass/custom.scss */
.pad10 {
  padding-top: 10px;
}

/* line 482, ../../sass/custom.scss */
.pad15 {
  padding-top: 15px;
}

/* line 486, ../../sass/custom.scss */
.pad25 {
  padding-top: 25px;
}

/* line 490, ../../sass/custom.scss */
.pad30 {
  padding-top: 30px;
}

/* line 494, ../../sass/custom.scss */
.pad45 {
  padding-top: 45px;
}

/* line 498, ../../sass/custom.scss */
.pad60 {
  padding-top: 60px;
}

/* line 502, ../../sass/custom.scss */
.pad90 {
  padding-top: 90px;
}

/* line 506, ../../sass/custom.scss */
.min-height-100px {
  min-height: 100px;
}

/* line 510, ../../sass/custom.scss */
.min-height-200px {
  min-height: 200px;
}

/* line 514, ../../sass/custom.scss */
.min-height-300px {
  min-height: 300px;
}

/* line 518, ../../sass/custom.scss */
.min-height-400px {
  min-height: 400px;
}

/* line 522, ../../sass/custom.scss */
.min-height-500px {
  min-height: 500px;
}

/* line 526, ../../sass/custom.scss */
.min-height-600px {
  min-height: 600px;
}

/* line 530, ../../sass/custom.scss */
.min-height-700px {
  min-height: 700px;
}

/* line 534, ../../sass/custom.scss */
.min-height-800px {
  min-height: 800px;
}

/** TYPOGRAPHY **/
/* line 540, ../../sass/custom.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: #515157;
}

/* line 546, ../../sass/custom.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  color: #e5e5e5;
}

/* line 550, ../../sass/custom.scss */
h1, h2, h3 {
  margin-bottom: 20px;
  font-weight: 300;
}

/* line 555, ../../sass/custom.scss */
h4, h5, h6 {
  margin-bottom: 15px;
  font-weight: 400;
}

/* line 560, ../../sass/custom.scss */
h1, .h1 {
  font-size: 44px;
}

/* line 564, ../../sass/custom.scss */
h2, .h2 {
  font-size: 37px;
}

/* line 568, ../../sass/custom.scss */
h3, .h3 {
  font-size: 27px;
}

/* line 572, ../../sass/custom.scss */
h4, .h4 {
  font-size: 23px;
}

/* line 576, ../../sass/custom.scss */
h5, .h5 {
  font-size: 18px;
}

/* line 580, ../../sass/custom.scss */
h6, .h6 {
  font-size: 16px;
}

/* line 584, ../../sass/custom.scss */
p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  color: #515157;
}

/* line 592, ../../sass/custom.scss */
.lead {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

/* line 599, ../../sass/custom.scss */
small, .small {
  font-size: 80%;
  line-height: 2;
}

/* line 604, ../../sass/custom.scss */
em {
  color: #ff6600;
}

/* line 608, ../../sass/custom.scss */
p {
  font-size: 16px;
}

/* line 612, ../../sass/custom.scss */
h1 {
  font-size: 34px;
  line-height: 54px;
}

/* line 617, ../../sass/custom.scss */
h2 {
  font-size: 30px;
}

/* line 621, ../../sass/custom.scss */
h3 {
  font-size: 26px;
}

/* line 625, ../../sass/custom.scss */
h4 {
  font-size: 22px;
}

/* line 629, ../../sass/custom.scss */
h5 {
  font-size: 18px;
}

/* LINKS */
/* line 635, ../../sass/custom.scss */
a {
  color: #515157;
}
/* line 637, ../../sass/custom.scss */
a:hover {
  color: #16a085;
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* LISTS */
/* line 649, ../../sass/custom.scss */
ol {
  position: relative;
  padding-left: 22px;
}

/* line 654, ../../sass/custom.scss */
ul {
  list-style: none;
  position: relative;
  padding-left: 22px;
}
/* line 658, ../../sass/custom.scss */
ul li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #515157;
  margin-bottom: 5px;
}

/* line 666, ../../sass/custom.scss */
ol li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #515157;
  margin-bottom: 5px;
}

/* line 673, ../../sass/custom.scss */
ul.circle li:before {
  font-family: 'fontawesome';
  content: '\f10c';
  font-size: 12px;
  color: #16a085;
  padding-top: 2px;
  margin-left: -20px;
  position: absolute;
}

/* TITLES */
/* line 685, ../../sass/custom.scss */
.underlined-title {
  text-align: center;
  padding-bottom: 30px;
}
/* line 688, ../../sass/custom.scss */
.underlined-title h1 {
  color: #2c3e50;
  margin: 0;
}
/* line 692, ../../sass/custom.scss */
.underlined-title h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #95a5a6;
}
/* line 698, ../../sass/custom.scss */
.underlined-title hr {
  width: 10%;
  border-width: 2px;
  border-color: #16a085;
}

/* line 705, ../../sass/custom.scss */
.btn {
  color: #FFF;
  padding: 10px 20px;
  margin: 15px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/* line 721, ../../sass/custom.scss */
.btn-sm {
  padding: 7px 13px;
  font-size: 12px;
}

/* line 726, ../../sass/custom.scss */
.btn-lg {
  padding: 16px 26px;
  font-size: 16px;
}

/* line 731, ../../sass/custom.scss */
.btn-xl {
  padding: 18px 30px;
  font-size: 24px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* line 738, ../../sass/custom.scss */
h1 .btn, h2 .btn, h3 .btn, h4 .btn, p .btn {
  margin-left: 15px;
}

/* Button DISABLED */
/* line 744, ../../sass/custom.scss */
.disabled a {
  cursor: not-allowed;
}

/* Button DEFAULT */
/* line 751, ../../sass/custom.scss */
.btn.btn-default {
  background: #ecf0f1;
  box-shadow: 0 2px #bdc3c7;
  color: #999;
}
/* line 755, ../../sass/custom.scss */
.btn.btn-default:hover {
  background: #bdc3c7;
}
/* line 759, ../../sass/custom.scss */
.btn.btn-primary {
  background: #1abc9c;
  box-shadow: 0 2px #16a085;
}
/* line 762, ../../sass/custom.scss */
.btn.btn-primary:hover {
  background: #16a085;
}
/* line 766, ../../sass/custom.scss */
.btn.btn-warning {
  background: #f1c40f;
  box-shadow: 0 2px #f39c12;
}
/* line 769, ../../sass/custom.scss */
.btn.btn-warning:hover {
  background: #f39c12;
}
/* line 773, ../../sass/custom.scss */
.btn.btn-danger {
  background: #e74c3c;
  box-shadow: 0 2px #c0392b;
}
/* line 776, ../../sass/custom.scss */
.btn.btn-danger:hover {
  background: #c0392b;
}
/* line 780, ../../sass/custom.scss */
.btn.btn-success {
  background: #2ecc71;
  box-shadow: 0 2px #27ae60;
}
/* line 783, ../../sass/custom.scss */
.btn.btn-success:hover {
  background: #27ae60;
}
/* line 787, ../../sass/custom.scss */
.btn.btn-dark {
  background: #34495e;
  box-shadow: 0 2px #2c3e50;
  color: #ffffff;
}
/* line 791, ../../sass/custom.scss */
.btn.btn-dark:hover {
  background: #2c3e50;
}
/* line 795, ../../sass/custom.scss */
.btn.btn-info {
  background: #3498db;
  box-shadow: 0 2px #2980b9;
}
/* line 798, ../../sass/custom.scss */
.btn.btn-info:hover {
  background: #2980b9;
}

/* line 804, ../../sass/custom.scss */
.btn-outline {
  color: #FFF;
  padding: 12px 20px;
  margin: 15px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}
/* line 819, ../../sass/custom.scss */
.btn-outline:hover {
  text-decoration: none;
  color: #ffffff;
}

/* line 825, ../../sass/custom.scss */
.btn-outline-sm {
  padding: 5px 13px;
  font-size: 13px;
}

/* line 830, ../../sass/custom.scss */
.btn-outline-lg {
  padding: 14px 26px;
  font-size: 15px;
}

/* line 835, ../../sass/custom.scss */
.btn-outline-xl {
  padding: 18px 30px;
  font-size: 24px;
}

/* line 840, ../../sass/custom.scss */
.btn-outline.outline-light, .icon.outline-light {
  color: #ffffff;
  background: none;
  border: 2px solid #ffffff;
}

/* line 846, ../../sass/custom.scss */
.btn-outline.outline-light:hover, .icon.outline-light:hover {
  color: #2c3e50;
  background: #ffffff;
}

/* line 851, ../../sass/custom.scss */
.btn-outline.outline-dark, .icon.outline-dark {
  color: #2c3e50;
  background: none;
  border: 2px solid #2c3e50;
}

/* line 857, ../../sass/custom.scss */
.btn-outline.outline-dark:hover, .icon.outline-dark:hover {
  color: #ffffff;
  background: #2c3e50;
}

/* line 862, ../../sass/custom.scss */
button:hover {
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* TABS */
/* line 871, ../../sass/custom.scss */
.nav-tabs {
  margin: 0 auto;
}
/* line 872, ../../sass/custom.scss */
.nav-tabs.nav-append-content {
  border-bottom: none;
  margin-bottom: 0;
}
/* line 877, ../../sass/custom.scss */
.nav-tabs > li {
  z-index: 2;
  float: none;
  display: inline-block;
  margin-bottom: -2px;
  position: relative;
}

/* line 887, ../../sass/custom.scss */
.nav > li > a:hover, .nav > li > a:focus {
  outline: 0;
}

/* line 893, ../../sass/custom.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  outline: none;
  color: #1abc9c;
}

/* line 899, ../../sass/custom.scss */
body .nav-tabs > li > a {
  padding: 13px 26px 14px !important;
  color: #3D566E;
  text-transform: uppercase;
}

/* line 906, ../../sass/custom.scss */
.nav-tabs > li > a {
  padding: 16px 25px 12px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #737c85;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none !important;
  border-bottom: 4px solid transparent !important;
  border-width: 2px;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 21px 8px;
  color: #7f8c9a;
  border-radius: 6px 6px 0 0;
  -webkit-transition: none;
  transition: none;
}
/* line 927, ../../sass/custom.scss */
.nav-tabs .nav-link.active {
  background: transparent;
  border-bottom: 4px solid #1abc9c !important;
  color: #1abc9c;
}
/* line 931, ../../sass/custom.scss */
.nav-tabs .nav-link.active:focus {
  color: #1abc9c;
}

@font-face {
  font-family: "Flat-UI-Icons";
  src: url("../fonts/Flat-UI-Icons.eot");
  src: url("../fonts/Flat-UI-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons.woff") format("woff"), url("../fonts/Flat-UI-Icons.ttf") format("truetype"), url("../fonts/Flat-UI-Icons.svg#Flat-UI-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 947, ../../sass/custom.scss */
[data-icon]:before {
  font-family: 'Flat-UI-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 957, ../../sass/custom.scss */
.fui-checkbox-unchecked, .fui-checkbox-checked, .fui-mail {
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 968, ../../sass/custom.scss */
.fui-mail:before {
  content: "\e01e";
}

/* line 972, ../../sass/custom.scss */
.fui-checkbox-unchecked:before {
  content: "\e033";
}

/* line 976, ../../sass/custom.scss */
.fui-checkbox-checked:before {
  content: "\e034";
}

/* line 981, ../../sass/custom.scss */
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6px;
}

/* line 988, ../../sass/custom.scss */
.checkbox, .radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 14px;
  line-height: 1.5;
}

/* line 998, ../../sass/custom.scss */
.checkbox input, .radio input {
  outline: none !important;
  display: none;
}

/* line 1003, ../../sass/custom.scss */
.checkbox .icons, .radio .icons {
  color: #bdc3c7;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

/* line 1019, ../../sass/custom.scss */
.checkbox .icons .first-icon, .radio .icons .first-icon, .checkbox .icons .second-icon, .radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 1030, ../../sass/custom.scss */
.checkbox .icons .second-icon, .radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 1035, ../../sass/custom.scss */
.checkbox:hover, .radio:hover {
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

/* line 1040, ../../sass/custom.scss */
.checkbox:hover .first-icon, .radio:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 1045, ../../sass/custom.scss */
.checkbox:hover .second-icon, .radio:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 1050, ../../sass/custom.scss */
.checkbox.checked, .radio.checked {
  color: #1abc9c;
}

/* line 1054, ../../sass/custom.scss */
.checkbox.checked .first-icon, .radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 1059, ../../sass/custom.scss */
.checkbox.checked .second-icon, .radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #1abc9c;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

/* line 1067, ../../sass/custom.scss */
.checkbox.disabled, .radio.disabled {
  cursor: default;
  color: #e6e8ea;
}

/* line 1072, ../../sass/custom.scss */
.checkbox.disabled .icons, .radio.disabled .icons {
  color: #e6e8ea;
}

/* line 1076, ../../sass/custom.scss */
.checkbox.disabled .first-icon, .radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 1081, ../../sass/custom.scss */
.checkbox.disabled .second-icon, .radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 1086, ../../sass/custom.scss */
.checkbox.disabled.checked .icons, .radio.disabled.checked .icons {
  color: #e6e8ea;
}

/* line 1090, ../../sass/custom.scss */
.checkbox.disabled.checked .first-icon, .radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 1095, ../../sass/custom.scss */
.checkbox.disabled.checked .second-icon, .radio.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #e6e8ea;
}

/* line 1101, ../../sass/custom.scss */
.checkbox.primary .icons, .radio.primary .icons {
  color: #34495e;
}

/* line 1105, ../../sass/custom.scss */
.checkbox.primary.checked, .radio.primary.checked, .checkbox.primary.checked .icons, .radio.primary.checked .icons {
  color: #1abc9c;
}

/* line 1109, ../../sass/custom.scss */
.checkbox.primary.disabled, .radio.primary.disabled {
  cursor: default;
  color: #bdc3c7;
}

/* line 1114, ../../sass/custom.scss */
.checkbox.primary.disabled .icons, .radio.primary.disabled .icons, .checkbox.primary.disabled.checked .icons {
  color: #bdc3c7;
}

/* line 1119, ../../sass/custom.scss */
.radio.primary.disabled.checked .icons {
  color: #bdc3c7;
}
/* line 1122, ../../sass/custom.scss */
.radio + .radio {
  margin-top: 10px;
}

/* line 1127, ../../sass/custom.scss */
.checkbox + .checkbox {
  margin-top: 10px;
}

/* line 1132, ../../sass/custom.scss */
.table .checkbox, .table .radio {
  margin: 0 0 0 -9px;
}
/* line 1135, ../../sass/custom.scss */
.table .checkbox.no-label, .table .radio.no-label {
  padding-left: 0;
}
